{% extends 'site_base.html' %}
{% load i18n avatar_tags staticfiles %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}cors/js/libs/leaflet/1.5.1/leaflet.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{{ STATIC_URL }}cors/js/libs/leaflet.draw/1.0.4/leaflet.draw.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/dominode_base.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}cors/css/map.css" rel="stylesheet"/>
    <script>
        const observationDownloadURL = '{% url 'cors-observation-download' 0%}'
        // let captchaReady = false;
    </script> 
{% endblock extra_head %}
{% block middle %}
    <div id="map"></div>
    <div id="side-panel">
        <div id="content-section" class="section">
            <table id="feature-properties">
            </table>
        </div>
        {% if has_download_observation_permission %}
            <div id="download-section" class="section">
                <div class="title">Download observation</div>
                <form id="download-observation" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>From</label>
                        <input type="date" class="form-control" name="from" required>
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <input type="date" class="form-control" name="to" required>
                    </div>
                    <button id="download-observation-button" type="submit" class="btn btn-primary">Get Links</button>

                      {% if latest_question_list %}
                        <ul>
                        {% for question in latest_question_list %}
                            <li>{{ question }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}
                </form>


            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extra_script %}
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}cors/js/shared.js"></script>
    <script data-main="{{ STATIC_URL }}cors/js/map/config.js" src="{{ STATIC_URL }}cors/js/libs/require.js/2.3.6/require.min.js"></script>

{% endblock extra_script %}