
body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#gocd, .navbar, footer {
    flex: 0 1 auto;
}

#wrap {
    flex: 1 1 auto;
    padding-bottom: 0;
}

#map {
    height: 100%;
    width: 100%;
}