{% extends "geonode_base.html" %}
{% load i18n %}

{% block body_outer %}
    <div class="page-header">
        <a href="{% url 'dominode-resource-list' %}" class="btn btn-primary pull-right">{% trans "Back to resource list" %}</a>
        <h2 class="page-title">{{ resource.name }} <small>DomiNode resource</small></h2>
    </div>
    <div class="list-group">
        <a class="list-group-item {% if resource.is_valid %}list-group-item-success{% else %}list-group-item-danger{% endif %}">Valid: {{ resource.is_valid }}</a>
        <a class="list-group-item">Type: {{ resource.resource_type }}</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Latest Validation Report</h3>
        </div>
        <div class="panel-body">
            <p>{% trans "Validator" %}: {{ latest_report.validator.username }}</p>
            <p>{% trans "Validated at" %}: {{ latest_report.created }}</p>
            {{ latest_report.report }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Other recent validation reports" %}</h3>
        </div>
        <div class="list-group">
            {% for report in other_recent_reports %}
                <a class="list-group-item" href="{% url 'validation-report-detail' report.pk %}">{{ report.created }} - {{ report.validator }}</a>
            {% endfor %}
            <a  class="list-group-item" href="{%  url 'validation-report-list' resource.pk %}">See all</a>
        </div>
    </div>
{% endblock %}
